@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}

.menu-item :hover {
  background: rgb(129 83 13 / 50%);
  color: white;
}

.mt-auto {
  margin-top: auto;
}
